@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@property --border-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: '<angle>';
}

.animate-border-0 { animation-delay: 0s; }
.animate-border-1 { animation-delay: 0.5s; }
.animate-border-2 { animation-delay: 1s; }
.animate-border-3 { animation-delay: 1.5s; }
.animate-border-4 { animation-delay: 2s; }

.bigcenter{
  @media (min-width: 1536px) {
    position-area: center;
  }
}

.textosombra{
  text-shadow: 2px 2px 2px black;
}